

<div class="ui input">
  <input id="keywords" type="text" style="margin-right: 5px" classs="prompt" placeholder="тест,тест">
  <input type="button" value="Расчитать" onclick="drawChart(document.getElementById('keywords').value);">
</div>
<div id="columnchart_values" style="width: 900px; height: 900px;"></div>


